.MainContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.leaflet-container {
  height: 21vh;
  width: 45vw;
  border: 4px black solid ;
}

.LeftContainer {
  width: 50%;
  height: 100%;
  float: left;
}

.RightContainer {
  width: 50%;
  height: 100%;
  float: right;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  background-color: rgb(211, 211, 211,0.4);
}
.TodayRow {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.Column {
  padding: 10px;
  text-align: center;
  display: table-cell;
  border: 2px white solid;
  border-radius: 10px;
}
.TodayColumn {
  padding: 10px;
  text-align: center;
  display: table-cell;
  /* border: 2px white solid; */
  border-radius: 10px;
  vertical-align: middle;
}

.Column:hover {
  border: 5px blue solid;
}

.TodayWeather {
  font-size: 20px;
  background-color: rgb(211, 211, 211,0.4);
}

.sidebyside {
  padding: 1rem 5rem;
  display: inline-block;
  vertical-align: middle;
}

input {
  margin-left: 10px;
  border-radius: 5px;
  font-size: 30px;
}

#submitbt {
  background-color: blue;
  color: white;
  border-color: white;
  border-style: solid;
}

#submitbt:hover {
  background-color: white;
  color: blue;
  border-color: blue;
  border-style: solid;
}


form {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

html {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.colimg {
  width: 100%;
  height: 100%;
}